.git
.gitignore
.gitattributes
.idea
.vscode
.mvn
mvnw
mvnw.cmd
target
node_modules
coverage
docs
tests
test
src/test
*.iml
*.log
*.tmp
.DS_Store
._*
**/._*
*.env
.env*
README*
*.md
generated-requests.http
http-client.env.json
docker-compose*
